<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>615135880532-fale3ibrk7ih6fprd94nive0t4m1keq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.615135880532-fale3ibrk7ih6fprd94nive0t4m1keq1</string>
	<key>API_KEY</key>
	<string>AIzaSyDYBjRs3mvMm2M9QCuhF2w-jyMXCqAmknc</string>
	<key>GCM_SENDER_ID</key>
	<string>615135880532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wasko.Emergency</string>
	<key>PROJECT_ID</key>
	<string>emergency-d57e6</string>
	<key>STORAGE_BUCKET</key>
	<string>emergency-d57e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:615135880532:ios:78901c3b8faecbe7fa94c1</string>
	<key>DATABASE_URL</key>
	<string>https://emergency-d57e6.firebaseio.com</string>
</dict>
</plist>